@model API_Complete_ASP.Models.Contact

@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/ContactBootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/ContactStyle.css" asp-append-version="true" />

<div class="content">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">


                <div class="row justify-content-center">
                    <div class="col-md-6">

                        <h3 class="heading mb-4">Let's talk about everything!</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas debitis, fugit natus?</p>

                        <p><img src="~/Imgs/undraw-contact.svg" alt="Image" class="img-fluid"></p>


                    </div>
                    <div class="col-md-6">

                        <form asp-controller="Users" asp-action="Contacto" class="mb-5" method="post" id="contactForm" name="contactForm">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input asp-for="Name" type="text" class="form-control" name="name" id="name" placeholder="Your name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input asp-for="Email" type="text" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input asp-for="Reference" type="text" class="form-control" name="Reference" id="subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea asp-for="Description" class="form-control" name="Description" id="message" cols="30" rows="7" placeholder="Write your message"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                                    <span class="submitting"></span>
                                </div>
                            </div>
                        </form>

                        <div id="form-message-warning mt-4"></div>
                        <div id="form-message-success">
                            Your message was sent, thank you!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="js/ContactMain.js"></script>