@model API_Complete_ASP.Models.User

@{
    ViewData["Title"] = "Register";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/LoginStyle.css">
<link rel="stylesheet" href="~/fonts/icomoon/style.css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css">

<script src="~/js/LoginMain.js"></script>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Imgs/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Sign Up</h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                        </div>

                        <form asp-action="Register">

                            <div class="form-group first">
                                <input asp-for="Name" type="text" class="form-control" id="username" placeholder="Name" />
                            </div>

                            <div class="form-group second">
                                <input asp-for="Email" type="email" class="form-control" id="username" placeholder="Email address" />
                            </div>

                            <div class="form-group last mb-4">
                                <input asp-for="Password" type="password" class="form-control" id="username" placeholder="Password" />                                
                            </div>


                            <input type="submit" value="Register" class="btn btn-block btn-primary">

                        </form>
                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}







@*

<h1>Registro</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@